@model GiveAid.Models.tbl_Donation

@{
    ViewBag.Title = "Make a Donation";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div id="modelerrors" class="text-danger"></div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <img class="img-fluid" src="~/Templates/Frontend/img/mastercard.png" width="5%" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_NGO, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.NGOList != null)
                {
                    @Html.DropDownListFor(model => model.FK_NGO, ViewBag.NGOList as SelectList, "--Select NGO--", new { @class = "form-control" })
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FK_DonationCause, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.FK_DonationCause, new SelectList(" "), "--Select Cause--", new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreditCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreditCard, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreditCard, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CVV, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CVV, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CVV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-outline-primary" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $("#FK_NGO").change(function () {
            $.get("/User/Donation/DonationCasuseRef", { FK_NGO: $("#FK_NGO").val() }, function (data) {
                $("#FK_DonationCause").empty()
                $.each(data, function (index, row) {
                    $("#FK_DonationCause").append("<option value='" + row.FK_DonationCause + "'>" + row.DonationCauseName + "</option>")
                })
            })
        })
    });
    var Success = function (data) {
        if (data.success == true) {
            $('#myModal').modal('hide');
            location.reload();
        }
        else {
            $('#modelerrors').html(data.errors);
        }
    }

</script>
