@using GiveAid.Models

<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Give Aid</title>

    <link rel="stylesheet" href="~/Templates/Backend/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Templates/Backend/assets/vendor/fonts/circular-std/style.css">
    <link rel="stylesheet" href="~/Templates/Backend/assets/libs/css/style.css">
    <link rel="stylesheet" href="~/Templates/Backend/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link href="~/Templates/Backend/assets/vendor/fonts/fontawesome/css/all.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.css" rel="stylesheet" type="text/css">
    <link href="~/Templates/Backend/assets/vendor/datatables/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <div id="modal-container"></div>

    <div class="dashboard-main-wrapper">


        @{
            tbl_User user = (tbl_User)Session["User"];
            if (user == null)
            {
                user = new db_GiveAidProEntities1().tbl_User.FirstOrDefault(x => x.Email == User.Identity.Name);
            }
        }
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/AdminDash/Home/Index"><img class="img-responsive" style="width: 40%" src="~/Templates/back.jpg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @if (user != null && User.Identity.IsAuthenticated)
                            {
                                <img src="~/Templates/Frontend/img/@user.Picture" alt="" class="user-avatar-md rounded-circle">
                            }
                            else
                            {
                                <img src="~/Templates/Frontend/img/userdefault.jpeg" alt="" class="user-avatar-md rounded-circle">
                            }
                            </a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">
                                       @if (User.Identity.IsAuthenticated)
                                       {
                                        @user.FullName
                                       }
                                       else
                                       {
                                        <span>Username</span>
                                       }
                                    </h5>
                                </div>
                                <a class="dropdown-item" href="/AdminDash/Accounts/Settings"><i class="fas fa-cog mr-2"></i>Setting</a>
                                <a class="dropdown-item" href="/Account/Logout"><i class="fas fa-power-off mr-2"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>






        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link active" href="/AdminDash/Home/Index"><i class="fas fa-chart-line"></i></i>Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/NGO/Index"><i class="fa fa-medkit" aria-hidden="true"></i>NGOs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/Donation/Index"><i class="fas fa-hand-holding-usd"></i>Donations</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/Activity/Index"><i class="fa fa-calendar" aria-hidden="true"></i>Activity</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/Gallery/Index"><i class="fab fa-envira"></i>Gallery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/OurAchievements/Index"><i class="fas fa-trophy"></i>Achievments</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/Partner/Index"><i class="far fa-handshake"></i>Partners</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/TeamMember/Index"><i class="fas fa-users"></i></i>Team Members</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/QnA/Index"><i class="fas fa-users"></i></i>Queries</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/About/Index"><i class="fa fa-info-circle"></i></i>About Section</a>
                            </li>
                            <li class="nav-divider">
                                More Features
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/AdminDash/User/Index"><i class="fa fa-fw fa-user-circle"></i>Manage Users</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">

                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title"> @ViewBag.Title </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script src="~/Templates/Backend/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
                    <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
                        @RenderBody()

                </div>
            </div>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                Copyright &copy; @DateTime.Now.Year All rights reserved by <a href="/" target="_blank">Give Aid</a>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="text-md-right footer-links d-none d-sm-block">
                                    <a href="/Home/About">About</a>
                                    <a href="/Home/ContactUs">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <!--Scripts-->
    <script type="text/javascript" src="~/Templates/Backend/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Templates/Backend/assets/vendor/datatables/jquery.dataTables.min.js"></script>
    <!--Scripts-->

</body>

</html>