@model IEnumerable<GiveAid.Models.tbl_OurAchievements>

@{
    ViewBag.Title = "All Achievements";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#listofall').DataTable();
    });
</script>


<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover" id="listofall">
                <thead>
                    <tr>
                        <th scope="col">
                            @Ajax.ActionLink("Add New", "Create", "OurAchievements",
                            new AjaxOptions()
                            {
                                HttpMethod = "GET",
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "modal-container"
                            },
                            new
                            {
                                @class = "btn btn-outline-success btn-sm"
                            })
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">@Html.ActionLink("Trash Box", "TrashBox", "OurAchievements", new { @class = "btn btn-outline-dark btn-sm" })</th>
                    </tr>
                    <tr>
                        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
                        <th scope="col">@Html.DisplayNameFor(model => model.DateTime)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.Name</td>
                            <td>
                                @{
                                    string des = "";
                                    if (item.Description.Length > 40)
                                    {
                                        des = item.Description.Substring(0, 40) + "...";
                                    }
                                    else
                                    {
                                        des = item.Description;
                                    }

                                }
                                <span>@des</span><br />
                            </td>
                            <td>@item.DateTime.Value.Date</td>
                            <td>
                                @Ajax.ActionLink("View Details", "Details", "OurAchievements",
                                   new { id = item.PK_ID },
                                   new AjaxOptions()
                                   {
                                       HttpMethod = "GET",
                                       InsertionMode = InsertionMode.Replace,
                                       UpdateTargetId = "modal-container"
                                   },
                                   new
                                   {
                                       @class = "btn btn-outline-primary btn-sm"
                                   })

                            </td>
                        </tr>
                                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
